---
import { Image } from "astro:assets";

const {
    logo,
    tagline,
    copyright,
    quickLinks = [],
} = Astro.props
---

<footer class="max-w-6xl mx-auto py-24 max-md:py-20">

    <div>
        <Image
            src={logo.src}
            alt={logo.alt}
        />
    </div>

    <div class="flex max-md:flex-col justify-between text-bg font-light">
        <span>
            {tagline}
        </span>

        <span class="max-md:mt-10">
            {copyright}
        </span>
    </div>
    
</footer>