@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';


@import "tailwindcss";

@theme {
  --font-base: "Poppins", sans-serif;


  --color-brand-surface: #f6f6f6;
  --color-brand-blue: #4381c1;
  --color-brand-neutral: #1f2421;


  --color-blue-50: #ecf2f9;
  --color-blue-100: #c5d8ec;
  --color-blue-200: #a9c5e2;
  --color-blue-300: #81abd5;
  --color-blue-400: #699acd;
  --color-blue-500: #4381c1;
  --color-blue-600: #3d75b0;
  --color-blue-700: #305c89;
  --color-blue-800: #25476a;
  --color-blue-900: #1c3651;


  --color-neutral-1: #ffffff;
  --color-neutral-2: #fdfdfd;
  --color-neutral-3: #f6f6f6;
  --color-neutral-4: #f2f2f2;
  --color-neutral-5: #dddede;
  --color-neutral-6: #c7c8c8;
  --color-neutral-7: #9a9c9b;
  --color-neutral-8: #6d716f;
  --color-neutral-9: #5b5f5d;
  --color-neutral-10: #414542;
  --color-neutral-11: #3a3e3c;
  --color-neutral-12: #313633;
  --color-neutral-13: #1f2421;

  --animate-fade-in-from-top: fade-in-from-top 0.5s ease-out;
  --animate-fade-out-from-top: fade-out-from-top 0.3s ease-out;

  @keyframes fade-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-from-top {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-8px);
    }
  }

}

body{
    background-color: var(--color-brand-surface);
    font-family: var(--font-base);
}

@utility text-display-lg {
  /* Mobile: 48px, Bold, -1.44% tracking */
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.0144em;
  line-height: 1.1;

  @media (width >=768px) {
    /* Desktop: 80px, Bold, -3.2% tracking */
    font-size: 80px;
    letter-spacing: -0.032em;
  }
}

@utility text-h1 {
  /* Mobile: 40px, Bold, -1.5% tracking */
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 1.15;

  @media (width >=768px) {
    /* Desktop: 64px, Bold, -2% tracking */
    font-size: 64px;
    letter-spacing: -0.02em;
  }
}

@utility text-h2 {
  /* Mobile: 32px, SemiBold, -1% tracking */
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.2;

  @media (width >=768px) {
    /* Desktop: 48px, SemiBold, -1% tracking */
    font-size: 48px;
  }
}

@utility text-h3 {
  /* Mobile: 24px, SemiBold, 0% tracking */
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2;

  @media (width >=768px) {
    /* Desktop: 32px, SemiBold, -0.3% tracking */
    font-size: 32px;
    letter-spacing: -0.003em;
    line-height: 1.3;
  }
}

@utility text-body-lg {
  /* Mobile: 18px, Regular, 0% tracking */
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;

  @media (width >=768px) {
    /* Desktop: 20px, Regular, 0% tracking */
    font-size: 20px;
    line-height: 1.6;
  }
}

@utility text-body-md {
  /* Mobile & Desktop: 16px, Regular, 0% tracking */
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;

  @media (width >=768px) {
    line-height: 1.6;
  }
}

@utility text-caption {
  /* Mobile: 11px, Regular, 0.5% tracking */
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 1.4;

  @media (width >=768px) {
    /* Desktop: 12px, Medium, 0.5% tracking */
    font-size: 12px;
    font-weight: 500;
  }
}