---
import { Image } from "astro:assets"
import Button from "../ui/Button.astro"
import Whatsapp from "../../assets/icons/Whatsapp.svg"
---

<section id="#" class="bg-[url('/images/Hero.webp')] bg-cover bg-center bg-no-repeat h-screen pt-24">
    

    <div class="max-w-7xl mx-auto mt-12 md:mt-38 h-full space-y-6 px-5">

        <div class="max-w-4xl space-y-2">
            <h1 class="text-mobile-h1 leading-12 md:text-desktop-h2 md:leading-14 font-semibold text-neutral">
            Not sure which visa category applies to you? <span class="text-primary-blue-600">Let a trusted local partner handle it.</span>
            </h1>
            <p class="text-neutral text-mobile-h5 md:text-desktop-h5">
                We take care of your visa forms and supporting documents, so you can focus on enjoying South Africa, not stressing over paperwork.
            </p>
        </div>

        <div class="flex max-sm:flex-col md:justify-left md:items-center gap-2 md:gap-4">

            <Button to="#process" label="See how it works" classes="rounded-lg text-center px-5 py-3 gap-2 bg-primary-blue text-surface hover:bg-primary-blue-900 cursor-pointer text-mobile-h6 md:text-desktop-h6"/>
                
            <Button to="#process" label="Contact on WhatsApp" classes="rounded-lg px-5 py-3 flex justify-center items-center gap-2 text-surface max-md:bg-accent-green-500 lg:text-accent-green-800 lg:border-2 lg:border-accent-green-600 hover:bg-accent-green-500 hover:text-surface cursor-pointer text-mobile-h6 md:text-desktop-h6" iconPosition="left">
                <Image
                    src={Whatsapp}
                    alt={"Whatsapp"}
                    slot={"icon"}
                />
            </Button>
        </div>



    </div>


</section>
