---
import ServiceCard from "../ui/ServiceCard.astro";
import { services } from "../../data/services";

---

<section id="services" class="max-w-7xl mx-auto w-full px-5 my-17 md:my-36 space-y-6 md:space-y-11">

    <h1 class="text-neutral text-mobile-h3 md:text-desktop-h3 font-medium max-sm:leading-tight">What we help you with</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 items-stretch gap-11">
        {
            services.map((service:any) => (
                <ServiceCard
                    image={service.image}
                    title={service.title}
                    description={service.description}
                    items={service.items}
                />
            ))
        }
    </div>



</section>