---
import { Image } from "astro:assets";
import Right from "../../assets/icons/Right.svg"
import Button from "../ui/Button.astro";
---

<section class="max-w-7xl mx-auto px-5 my-11 md:mt-40 md:mb-20">
    
    <div class="flex max-md:flex-col justify-center lg:items-center gap-6 md:gap-11">
        <div class="flex-4/5 rounded-lg shadow-lg">
            <video
            autoplay
            muted
            loop
            playsinline
            preload="metadata"
            class="rounded-lg"
            >
                <source src="/visualproblem.mp4" type="video/mp4">
            </video>
        </div>

        <div class="flex-2/5 flex flex-col space-y-3 md:space-y-6">

            <div class="flex flex-col gap-y-4">
                <h1 class="text-mobile-h3 md:text-desktop-h3 font-semibold text-neutral leading-9 md:leading-11">Not sure which visa category applies to you?</h1>

                <p class="text-mobile-h6 md:text-desktop-h6 font-light leading-tight">
                    Looking at all these visa categories is stressful. One small mistake can cause a big headache. We take away the confusion so you can focus on your trip.
                <p/>
            </div>

            <Button
                href="#contact"
                label="Request Form Assistance"
                classes="w-full text-center rounded-lg px-5 py-3 bg-accent-green text-surface border-2  hover:bg-surface hover:text-accent-green hover:border-accent-green-600 cursor-pointer text-mobile-h6 md:text-desktop-h6"
            />
        </div>

    </div>

</section>